// ------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------

$a-vp								: 420px;	// larger mobile
$b-vp								: 600px;	// portait ipad
$c-vp								: 980px;	// full width

// ------------------------------------------------------------
// Colour Palette
// -----------------------------------------------------------

$dark-grey: #333;
$light-grey: #e0e0e0;

$text-colour-dark: $dark-grey;
$text-colour-light: $light-grey;

// ------------------------------------------------------------
// Typography
// -----------------------------------------------------------

$serif : serif;
$sans-serif : 'Open Sans', sans-serif;

$heading-font : $sans-serif;
$body-font : $serif;
