// ------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------

$a-vp								: 420px;	// larger mobile
$b-vp								: 600px;	// portait ipad
$c-vp								: 980px;	// full width

// ------------------------------------------------------------
// Colour Palette
// -----------------------------------------------------------

$dark-grey: #333;
$off-white: #f0f0f0;

$text-colour-dark: $dark-grey;
$text-colour-light: $off-white;

// ------------------------------------------------------------
// Typography
// -----------------------------------------------------------

$base-font : 'Noto Sans', georgia, Helvetica, Arial, sans-serif;