/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

header {

  .menu-container {
    text-align: left;
  }

  .get-in-touch-container {
    text-transform: uppercase;
    text-align: right;
  }

}
