/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/

#homepage {
  background: url('../images/background.jpg');
  background-position: center left;
  background-size: cover;
  height: 100%;

  main {
    .row,
    .container {
      height: 100%;
    }

    .bio-container {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 300px;

      img.logo {
        width: 35%;
        margin-bottom: 8px;
        margin-bottom: 0.5rem;
      }

      h1 {
        margin-bottom: 0.75rem
      }

      .skill-pil {
        display: block;
        float: left;
        padding: 4px 15px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        background-color: $light-grey;
        text-transform: uppercase;
      }

      .skill-pil:nth-child(4n) {
        clear: both;
      }

    }
  }
}
